# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual Environment
venv/
.env

# macOS
.DS_Store

# VS Code
.vscode/

# JetBrains
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporary
*.tmp

# Compiled
build/
dist/